.bash_history
.bash_logout
.bashrc
.netrc
.profile
.python_history
.wget-hsts
.Xdefaults
.xscreensaver
boxplot_metrics_high_low_patients.png
boxplot_metrics_pos_neg_patients.png
boxplot_metrics.png
boxplot_tresholds_patients.png
boxplot_tresholds.png
confusion_matrix_patches.png
confusion_matrix_patients_2_clases.png
confusion_matrix_patients_3_clases.png
confusion_matrix.png
F1_patches.png
hey
histogram_low_high.png
histogram_pos_neg_patches.png
histogram_positive_rate.png
output.png
roc_curve_high_low.png
roc_curve_neg_unc.png
roc_curve_patches_train.png
roc_curve_patients_train.png
roc_curve_pos_neg_patches.png
roc_curve_pos_neg.png
roc_curve.png
Images/boxplot_metrics_high_low_patients.png
Images/boxplot_metrics_pos_neg_patients.png
Images/boxplot_metrics.png
Images/boxplot_tresholds_patients.png
Images/boxplot_tresholds.png
Images/confusion_matrix_patches.png
Images/confusion_matrix_patients_2_clases.png
Images/confusion_matrix_patients_3_clases.png
Images/confusion_matrix.png
Images/histogram_low_high.png
Images/histogram_pos_neg_patches.png
Images/histogram_positive_rate.png
Images/metric_differences.png
Images/Original.png
Images/roc_curve_high_low.png
Images/roc_curve_neg_unc.png
Images/roc_curve_patches_train.png
Images/roc_curve_patients_train.png
Images/roc_curve_pos_neg_patches.png
Images/roc_curve_pos_neg.png
Images/run4_tree.png
Images/run5_tree_positive_other_156.png
Images/run5_tree_positive_other.png
Images/run5_tree.png
Images/test_hsv.png
Images/Test.png
Images/test.png

